{
  "openapi": "3.0.3",
  "info": {
    "title": "Yeosonam External API",
    "version": "1.0.0",
    "description": "여소남 외부 연동 API의 실행 가능한 계약입니다."
  },
  "servers": [
    {
      "url": "https://www.yeosonam.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Yeosonam API key",
        "description": "여소남에서 발급한 ysn_ API 키"
      }
    },
    "schemas": {
      "V1HealthResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "healthy",
                  "degraded"
                ]
              },
              "version": {
                "type": "string"
              },
              "uptime": {
                "type": "integer",
                "minimum": 0
              },
              "db": {
                "type": "string",
                "enum": [
                  "connected",
                  "timeout",
                  "not_configured",
                  "resource_saver"
                ]
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "status",
              "version",
              "uptime",
              "db",
              "timestamp"
            ]
          }
        },
        "required": [
          "ok",
          "data"
        ]
      },
      "V1PublicPackage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "display_title": {
            "type": "string",
            "nullable": true
          },
          "destination": {
            "type": "string",
            "nullable": true
          },
          "duration": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "nullable": true
              }
            ]
          },
          "days": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "nullable": true
              }
            ]
          },
          "nights": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "nullable": true
              }
            ]
          },
          "price": {
            "type": "number",
            "nullable": true,
            "minimum": 0
          },
          "price_display": {
            "type": "string",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "badges": {
            "type": "array",
            "items": {
              "nullable": true
            }
          },
          "publication_state": {
            "type": "string",
            "nullable": true
          },
          "package_revision": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "nullable": true
              }
            ]
          }
        },
        "required": [
          "id"
        ]
      },
      "V1PackageListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/V1PublicPackage"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "minimum": 0
              },
              "limit": {
                "type": "integer",
                "minimum": 0
              },
              "offset": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "total",
              "limit",
              "offset"
            ]
          },
          "degraded": {
            "type": "boolean"
          },
          "reason": {
            "type": "string"
          }
        },
        "required": [
          "ok",
          "data",
          "pagination"
        ]
      },
      "V1ErrorResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "nullable": true
              }
            },
            "required": [
              "code",
              "message"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "ok",
          "error"
        ]
      },
      "V1PackageRecommendationBody": {
        "type": "object",
        "properties": {
          "destination": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "date_from": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "pax": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 2
          }
        }
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/v1/health": {
      "get": {
        "summary": "API 상태 확인",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "현재 API 및 데이터베이스 상태",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/packages": {
      "get": {
        "summary": "공개 여행상품 검색",
        "tags": [
          "Packages"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100
            },
            "required": false,
            "name": "destination",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "required": false,
            "name": "date_from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "required": false,
            "name": "date_to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100
            },
            "required": false,
            "name": "keyword",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "nullable": true,
              "minimum": 0,
              "maximum": 10000,
              "default": 0
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "현재 공개 포인터가 가리키는 상품 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1PackageListResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 검색 조건",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "유효하지 않은 API 키",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "필요한 API 스코프 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "조건 기반 공개 여행상품 추천",
        "tags": [
          "Packages"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1PackageRecommendationBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "현재 공개 포인터가 가리키는 추천 상품",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1PackageListResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 추천 조건",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "유효하지 않은 API 키",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "필요한 API 스코프 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
